@model ASP_WEB_lez02_Negozio.Models.Prodotto

<h1>Prodotto @Model.Codice</h1>

<ul class="list-group">
    <li class="list-group-item">Nome: @Model.Nome</li>
    <li class="list-group-item">Descrizione: @Model.Descrizione</li>
    <li class="list-group-item">Prezzo: @Model.Prezzo &euro;</li>
    <li class="list-group-item">Data Scadenza: @Model.DataScadenza</li>
</ul>